/*Corpo-----------------------------------------------------*/

body {
  background-color: #1F1F1F;
  font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;  
  height: 100%;
  margin: 0;

}

.jooj{
  margin: 0px 20px 0px 10px;
  display: flex;
  height: auto;
  width: auto;

  justify-content: start;

}

a{
text-decoration: none;
height: auto;
width: auto;

}


/*---------------------------------------------------------*/
/*Fontes---------------------------------------------------*/

p{
  color:#FFFFFF;
  font-size: 18px;
  margin: 0px 0px 0px 0px;
  text-align: justify;
}

h1 {
  color:#FFFFFF;
  font-size: 24px;
  margin: 3px 0px 3px 0px;
}

h2 {
  color:#FFFFFF
}

h3{
  color:#FFFFFF;
  font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  margin: 5px 0px 5px 0px;
}
h4{
  color:#777777;
  font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 0px 0px 0px 0px;
}

h5{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#FFFFFF;
  font-size: 50px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

h6{
  font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
  color:#DFDFDF;
  font-size: 10px;
  margin: 0px 0px 0px 0px;
}

/*---------------------------------------------------------*/
/*Divs-----------------------------------------------------*/

div{
  margin: 0px 20px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.div2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3vh 0vh 3vh 0vh;
}

.div3 {
  display: grid;
  place-items: center;      
  margin: 150px 0px 0px 0px;


}

.div4 {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 20px;

}

.div5 {
  display: flex;
  flex-direction: row;
  border: 1px solid #DFDFDF;
  justify-content: flex-start;
}

.div6 {
  color: #fff;
  display: flex;
  align-content: flex-start;
  align-items: center;
  margin: 0px 40px 0px 10px;
  padding: 0.2em 0.2em;
  box-sizing: border-box;
  white-space: nowrap;
  justify-content: flex-start;
}

.div7 {
  display: flex;
  flex-direction: column;
  margin: 0vh 11vh 0vh 11vh;

  }
.div8 {
  display: flex;
  flex-direction: column;
  margin: 1vh 11vh 0vh 11vh;
  border: 1px solid #DFDFDF;
  padding: 20px 20px 20px 20px;
  }
  .div8_5 {
    display: flex;
    flex-direction: column;
    margin: 1vh 11vh 0vh 11vh;
    
    padding: 20px 20px 20px 20px;
    }
  

.div9 {
border: 1px solid #DFDFDF;
height: 190px;
width: 950px;
position: fixed;
right: 26vw;
bottom: 3vh;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0px 0px 20px 0px;
}
.div10 {
height: 190px;
width: 90px;
display: flex;
flex-direction: column;
align-items: center;

}

.div11 {
height: 50px;
width: 90px;
display: flex;
flex-direction: row;
justify-content: center;
padding: 20PX 0PX 0PX 0PX;
gap: 60px;
}

.div12 {
  align-self: flex-start;
  margin: 0px 0px 10px 10px;


  }
  .div13 {
    display: inline-flex;       
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30B27F;
    height: 100vh;              
    width: auto;                
    padding: 16px;              
    box-sizing: border-box;     
    margin: 10px;
  }
  

.div14 {
  margin: 0 20vw;              /* igual a 0px 20vw 0px 20vw */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #30B27F;
  min-height: 100vh;           /* garante que ocupe a altura da viewport */
  box-sizing: border-box;      /* inclui borda/padding na largura/altura */
}

.div15{  
  position: fixed;
  right: 45vw;
  bottom: 3vh;
  height: 200px;
  width: 500px;
  border: 1px solid #DFDFDF;
  display: flex;}
.div16{
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
}

.div17{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 5%;

}
.div18{
  border: 1px solid #DFDFDF;
  height: 190px;
  width: 950px;
  display: flex;
  flex-direction: column;

  }

  .div19 {
    height: 190px;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

    .div20{

      display: flex; 
      flex-direction: row;
    

  }
/*---------------------------------------------------------*/
/*Sidebars-------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #30B27F;
  width: 80px;
  height: 100vh;
}

.sidebar2 {
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  background-color: #1F1F1F;
  border: 1px solid #DFDFDF;
  display: flex;
  align-items: center;
  padding: 1px 0.2em;

}

.sidebar3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.sidebar4 {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  background-color: #30B27F;
  height: 100vh;
  width: 350px;
  margin: 0px;
  padding: 0px;
}

.sidebar5 {
    position: fixed;
    top: 0px;
    right: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    background-color: #22835D;
    height: 100vh;
    width: 2vw;
    margin: 0px;
    padding: 0px;
}
.sidebar_5 {
  position: fixed;
  top: 0px;
  right: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  background-color: #22835D;
  height: 100vh;
  width: 2vw;
  margin: 0px;
  padding: 0px;
}

.sidebar5_ {
  position: fixed;
  top: 0px;
  right: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  background-color: #22835D;
  height: 100vh;
  width: 40px;
  margin: 0px;
  padding: 0px;
  }

.sidebar6 {
position: fixed;
top: 0px;
right: 82vw;
display: flex;
flex-direction: column;
justify-content: center;
background-color: #19513B;
height: 100vh;
width: 2vw;
margin: 0px 0px 0px 0px;
padding: 0px;
}

.sidebar_6 {
  position: fixed;
  top: 0px;
  right: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #19513B;
  height: 100vh;
  width: 2vw;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  }

.sidebar7 {
display: flex;
flex-direction: column;   
justify-content: center;   
align-items: center;       
text-align: center;        
margin: 0px 0px 0px 0px;

background-color: #30B27F;
height: 300px;
width: 350px;
}

.sidebar8 {
  position: fixed;
  top: 0px;
  right: 383px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #19513B;
  height: 100vh;
  width: 40px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  }

.content {
  margin-left: 200px;  
}

/*---------------------------------------------------------*/
/*Buttons--------------------------------------------------*/

/*Botao 1-------------------*/
button { 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  background-color: #1F1F1F;
  color:#FFFFFF;
  border: 1px solid #DFDFDF;
  width: 176px;
  height: 176px;
}
button:hover {
  transform: scale(1.03);
  border: 1px solid #30B27F;
  ;
}
button:active {
  background-color: #30B27F;
  transform: scale(0.99);
}

/*Botao 2-------------------*/
.button_2{
    font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color:#FFFFFF;
    border: 1px solid #DFDFDF;
    width: auto;
    height: 40px;
    margin: 10px 0px 0px 0px;
}
.button_2:hover{ 
  background-color: #30B27F;
  transform: scale(1.0);
}
.button_2.active {
  background-color: #19513B;
  border: 1px solid #19513B;
  
}

/*Botao 3-------------------*/
.button_3{
    font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color:#FFFFFF;
    border: 1px solid #30B27F;
    background-color: #30B27F;
    width: 80px;
    height: 60px;
    margin: 10px 0px 1px 0px;
}
.button_3:hover{ 
  background-color: #22835D;
  border: 1px solid #22835D;
  transform: scale(1.0);
}
.button_3:active {
  background-color: #19513B;
  transform: scale(0.99);
}

/*Botao 4-------------------*/
.button_4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  background-color: #1F1F1F;
  color:#FFFFFF;
  border: 1px solid #DFDFDF;
  width: 80px;
  height: 190px;
}
.button_4:hover{ 
  transform: scale(1.0);
  border: 1px solid #30B27F;
  ;
}
.button_4:active {
  background-color: #19513B;
  transform: scale(0.99);
}


.button_5{ 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #1F1F1F;
  color:#FFFFFF;
  border: 1px solid #ffffff;
  margin: 10px;
  

}
.button_5:hover {
  transform: scale(1.06);
  border: 3px solid #22835D;
  background-color: #1F1F1F;
  ;
}
.button_5:active {
  background-color: #19513B;
  transform: scale(0.99);
}


.botoes{
display: flex;
flex-direction: column;
gap: 20px;

}

.bt2{
  margin: 0px 0px 0px 160px;
  display: flex;
  justify-content: center;

  justify-items: center;
}

/*---------------------------------------------------------*/
/*Graficos-------------------------------------------------*/

.quadrado {
  width: 720px;
  height: 368px;
  background-color: #1F1F1F;
  color:#FFFFFF;
  border: 1px solid #DFDFDF;
}

.chart-area {
  width: 650px;
  height: 368px;
  background-color: #1F1F1F;
  color:#FFFFFF;
  border: 1px solid #DFDFDF;
  display: flex;

}

.chart-area2 {
  width: 540px;
  height: 368px;
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

     .pieContainer {
          height: 100px;
     }
     .pieBackground {
          background-color: grey;
          display: flex;
          justify-content: center;
          justify-items: center;
          width: 360px;
          height: 360px;
          margin: 5px 10px 0px 30px;
          border-radius: 300px;
     }

.chart-stack {
  position: relative;
  width: 100%;
  height: 100%;
}

/* canvases ocupam toda a área do container e ficam sobrepostos */
.chart-stack canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* evita interação no canvas "invisível" */
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease;
  z-index: 1;
}

/* canvas visível/ativo */
.chart-stack canvas.active {
  pointer-events: auto;
  opacity: 1;
  z-index: 2;
}


/*---------------------------------------------------------*/
/*Toggles-------------------------------------------------*/

.simple-toggle { 
  display: inline-block; 
  position: relative; 
  width: 50px; height: 28px; 
  border: 1px solid #DFDFDF;
  margin: 20px;
}

.simple-toggle input { 
  display: none; 
}

.slider {
  position: absolute; 
  inset: 0;
}

.slider::after{
  content: ""; 
  position: absolute; left: 4px; top: 4px; width: 20px; height: 20px;
  background: #fff;  transition: transform .2s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.simple-toggle input:checked + .slider {
  background: #30B27F; 
}

.simple-toggle input:checked + .slider::after {
   transform: translateX(22px); 
  }

#minhaSecao {
  display: none;
}




/*---------------------------------------------------------*/
/*Inputs---------------------------------------------------*/

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="select"]
{

  max-width: 300px;
  padding: 5px;
  border: 1px solid #DFDFDF;
  background-color: #1F1F1F;
  color:#FFFFFF;
  font-size: 14px;
}

/* Efeito ao focar no campo */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"],
input[type="date"] {
border-color: #dfdfdf;
outline: none;
}

/* Estilo para o placeholder */
input::placeholder {
  color: #aaa;
  font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

/* BOTAO HISTORICO */
input[type="file"] {
  position: absolute;
  width: 176px;
  height: 176px;
  opacity: 0;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/* Para navegadores baseados em WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#moeda {
  
 
  padding: 10px 40px 10px 12px; 
  font-size: 16px;
  line-height: 1.2;
  border: 1px solid #cbd5e1;
  background-color: #1F1F1F;
  color: #DFDFDF;

}